---
---

$base-font-size: 16;
$base-font-unit: px;

$margin-top: $base-font-size + 32;
$margin-top-unit: $base-font-unit;

body
{
  font-size: $base-font-size+$base-font-unit;

}

svg#navMenu
{
  fill: #fbf3f2;
  height: $base-font-size+$base-font-unit;

}

div#navSmall
{
  margin-top: $margin-top+$margin-top-unit;
}

div#page_content
{
  margin-top: $margin-top+$margin-top-unit;
}
