 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row" style="padding-top:20px;">
                <h2>Overview</h2>
            </div>
            <div class="row">
                    <p>After a disaster, coordinating operations, conveying status and other vital information within the affected area is still a challenge, both within the shelter vicinity as well as between shelters and the Emergency Operation Center (EOC). Currently, information is primarily shared through voice and some data communication over amateur radio or by foot traffic. The ability to establish communication without depending on any pre-existing infrastructures will provide critical support and save lives.</p>

         
                    <p>To solve this issue, we propose a portable solution S.I.T.E. Pack (Stay In Touch Emergency Pack). Portable kits with storage and compute resources will be deployed at shelters. The kits will create a mesh network between each other and the EOC. These will also have WiFi access and our own low cost, software-defined, Sitara hardware for short-range and long-range communication, respectively. The kits will interface with existing Amateur Radio systems making them versatile. Sitara hardware can be carried by those performing assessment/search/rescue to quickly relay information to the shelters.</p>

                    <p><img class="img-responsive center-image" src="img/architecture.png" alt=""></p>
            </div>
        </div>
    </section>