<p>S.I.T.E.Packs will contain:</p>
<ul>
    <li>two Raspberry Pis,</li>
    <li>two Sitara boards  (Sitara is a custom RF transceiver that we are building based on TI CC1190 and TI CC1200, that operates in the 902-928 MHz ISM band and can communicate about 20-40 km), </li>
    <li>extra Sitara boards (for volunteers/rescue personnel so that they can relay status/damage information back to the shelter quickly), </li>
    <li>one or more usb battery packs which can be charged while discharging,</li>
    <li>one or more solar panels that can charge the battery packs, and</li>
    <li>corresponding cables and accessories.</li>
</ul>
<p>With the exception of the Sitara boards, all the hardwares are readily available commercially.</p>
<img src="{{ "/img/details.png" | prepend: site.baseurl }}" alt="Kit Details"  style="width: 50%;" class="center">
