 <!-- About Section -->
    <section class="success" id="details">
        <div class="container">
            <div class="row">
                <h2>Details</h2>
            </div>
            <div class="row">
                <!-- <p>FLorem ipsum dolor sit amet, ceteros explicari eum ut. Prompta quaestio urbanitas has te, duo rebum dicam cu. In has habeo augue aeque, ius volumus consectetuer eu. Ius ea fabulas contentiones, duis tota duo et. Porro appetere has at, bonorum theophrastus ad his, has ne tempor propriae.</p>

                <p>Pri autem porro volutpat id, ius eu fabellas recteque reprimique. Cibo voluptua contentiones ex vis. Ferri interpretaris ex mea, dicam nonumy inimicus ex nam, eu his alii fabulas. Usu commodo adipisci atomorum te, ne mei lobortis eleifend, aperiam debitis mel an. Te cum purto delenit intellegebat, sea nonumes facilisi imperdiet an, cu duo nulla impedit democritum. Modo prima mea no, qui mundi dolores no.</p>-->
                
                <p><img class="img-responsive center-image" src="img/details.png" alt="" width="50%"></p>
            </div>
        </div>
    </section>