 <!-- About Section -->
    <section class="success" id="team">
        <div class="container">
            <div class="row">
                <h2>Team</h2>
            </div>
            <div class="row">
                <p>Aniqua Baset, PhD student, School of Computing, University of Utah</p>
                <p>Christopher Becker, PhD student, School of Computing, University of Utah</p>
                <p>Kurt Durr, Idaho National Lab</p>
                <p>Mingyue Ji, Assistant Professor, Department of Electrical and Computer Engineering, University of Utah</p>
                <p>Sneha Kasera, Professor, School of Computing, University of Utah</p>
                <p>Neal Patwari, Associate Professor, Department of Electrical and Computer Engineering, University of Utah</p>
                <p>Samuel Ramirez, Idaho National Lab</p>

                
            </div>
        </div>
    </section>